<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      body {
        text-align: center;
        margin-top: 20%;
        font-family: sans-serif;
      }

      div {
        width: fit-content;
        margin: 0 auto;
        padding: 6px 52px;
        border: solid 2px black;
      }

      h1 {
        font-weight: 500;
      }

      h3 {
        color: gray;
        font-weight: 100;
      }

    </style>
    <meta charset="utf-8">
    <title>Support</title>
  </head>
  <body style="text-align:center; margin-top:20%">
    <div>
      <h1>SUPPORT</h1>
      <h3>support@uddoit.com</h3>
    </div>
  </body>
</html>
